<app-header></app-header>
<div class="container">
  <h3>Basic Navbar Example</h3>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
</div>


<app-select-language></app-select-language>
<p>{{'compA' | translate}}</p>
<br><br><br>
<input type="file" (change)="fileChanged($event)"/>
<br><br><br>
<div *ngFor="let place of places">
  <hr>
  <h1>{{place.name}}</h1>
  <google-map [center]="place.coordinates">
    <map-marker
      [position]="place.coordinates"
    >
    </map-marker>
  </google-map>
</div>
